.notes-container {
  margin-bottom: var(--app-margin);
  display: flex;
  flex-direction: column;
}

.note-input {
  height: 2rem;
  border-radius: var(--border-radius);
  border: var(--secondary) solid thin;
  margin-top: 5px;
  margin-bottom: var(--app-margin);
  padding: 5px;
}

.add-button-container {
  display: flex;
  justify-content: center;
}
