.note-buttons {
  justify-content: space-between;
  display: flex;
}

.note-content {
  margin-top: 1rem;
  padding: 1rem;
  padding-top: 1px;
  background-color: var(--secondary);
}

.note-date {
  text-align: right;
}
